@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

.container {
  max-width: 700px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
.header {
  font-family: 'Knewave', cursive;
  color: #4C61EB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

.button {
  background-color: #EBA957;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #9E7642;
}
.form-option {
  margin-left: 80px;
}
.form-container {
  border: 3px solid #4C61EB;
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
  overflow: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-btn {
  text-align: center;
}

.trick-card {
  color: #fff;
  background-color: #5A9E2B;
  border: 3px solid #5A9E2B;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}
.trick-card:hover {
  background-color: #7FEB34;
}

.user-dash {
  border: 3px solid #4C61EB;
  border-radius: 5px;
  padding: 20px;
  min-height: 400px;
  margin-top: 30px;
}

.extra-card {
  padding: 0px;
  max-height: 0px;
}

.edit {
  float: right;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

